


.exibir-filtros {
    padding: 30px;
}

.exibir-inputs {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    
}

.exibir-inputs > input, select, p {
    margin-right: 20px;
}

.selectTamanho {
    width: 150px;
}

.exibir-grade-cartoes{
    display: flex;
    flex-flow: row wrap;

}